{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

<section class="about-section">

    <div class="about-wrapper">

        <!-- TEXT -->
        <div class="about-text">
            <h1>ჩვენს შესახებ</h1>
            <p>
                VilleGo არის პლატფორმა, რომელიც აერთიანებს ადგილობრივ ფერმერებსა და მომხმარებლებს.
                ჩვენი მიზანია სოფლის პროდუქციის ხელმისაწვდომობა, გამჭვირვალობა და ხარისხი.
            </p>
            <p>
                ჩვენ ვუჭერთ მხარს მცირე მეწარმეებს და ვქმნით ეკოსისტემას,
                სადაც სოფელი და ქალაქი ერთმანეთს უკავშირდება.
            </p>
        </div>
</section>

<!-- TEAM -->
<section class="team-section">
   
    

        <div class="team-info">
            <h3>Mariam Kovzadze</h3>
            <p>Founder & Full-stack Development UI/UX</p>
        </div>
    </div>
</section>


{% endblock %}
